.container {
  overflow: auto;
}

.container_slider {
  width: 100vw;
  height: 90vh;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: inherit;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0;
}

.nav__list_item:after {
  content: '';
  width: 2px;
  height: 100%;
  border-right: 2px solid #fff;
  padding-left: 100px;
}

.nav__list_item:last-child::after {
  border-right: none;
}

.nav__list a {
  font-size: 20px;
  color: #fff;
}

@media screen and (max-width: 728px) {
  .nav__list {
    position: absolute;
    z-index: 2;
    right: 0px;
    height: 92vh;
    top: 8vh;
    width: 40%;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav__list_item {
    opacity: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .nav__list_item:after {
    display: none;
  }
  .nav__list.active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  @-webkit-keyframes navSliderFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes navSliderFade {
    from {
      opacity: 0;
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
}

.submenu {
  position: relative;
}

.submenu__item {
  position: absolute;
  left: -9999px;
  padding: 0;
  opacity: 0;
  background-color: #000;
  border-radius: 10px;
  -webkit-transition: left 0.1s ease-in-out;
  transition: left 0.1s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

.submenu__item li {
  margin: 15px 20px;
}

.submenu__item a {
  color: #fff;
  margin: 5px;
}

.submenu__item a:hover {
  color: #ed4a09;
}

.submenu:hover > a,
.submenu:active > a {
  color: #ed4a09;
}

.submenu:hover .submenu__item {
  z-index: 3;
  left: 0;
  opacity: 1;
}

@media screen and (max-width: 728px) {
  .submenu:hover .submenu__item {
    left: -110px;
    top: -10px;
  }
}

.nav__toggle {
  cursor: pointer;
  height: 2rem;
  right: 2rem;
  position: absolute;
  top: 1rem;
  width: 2rem;
  z-index: 2;
  display: none;
}

.nav__toggle_burger, .nav__toggle_burger:before, .nav__toggle_burger:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: white;
  content: '';
  height: 0.15rem;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.nav__toggle_burger:before {
  margin-top: -0.5rem;
}

.nav__toggle_burger:after {
  margin-top: 0.5rem;
}

.nav__toggle_burger:hover {
  opacity: 0.8;
}

.nav__toggle:hover .nav__toggle_burger:before {
  margin-top: -0.8rem;
}

.nav__toggle:hover .nav__toggle_burger:after {
  margin-top: 0.8rem;
}

.nav__toggle.active .nav__toggle_burger {
  background: transparent;
}

.nav__toggle.active .nav__toggle_burger:before,
.nav__toggle.active .nav__toggle_burger:after {
  margin-top: 0;
}

.nav__toggle.active .nav__toggle_burger:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.nav__toggle.active .nav__toggle_burger:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 786px) {
  .nav__toggle {
    display: block;
  }
}

.sliders {
  position: relative;
  width: 100%;
  height: 100%;
  /*&__control {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        &_list {
            color: #fff;
            display: flex;
            justify-content: space-around;
            li {
                list-style: none;
            }
            li.current {
                color: red;
            }
        }
    }*/
}

.sliders__item {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.sliders__item_part {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.sliders__item_part img {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.sliders__item_left {
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.sliders__item_left img {
  top: 0;
  right: 0;
  -o-object-position: 100% 50%;
     object-position: 100% 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.sliders__item_right {
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.sliders__item_right img {
  top: 0;
  left: 0;
  -o-object-position: 0% 50%;
     object-position: 0% 50%;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.sliders__item.active .sliders__item_part, .sliders__item.active .sliders__item_part img {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sliders__control {
  cursor: pointer;
}

.sliders__control_list {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sliders__control_list li {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 2px solid #fff;
  background-color: transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.sliders__control_list li:hover {
  height: 16px;
  width: 16px;
}

.sliders__control_list li.prev, .sliders__control_list li.next {
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.sliders__control_list .prev {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.sliders__control_list .next {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sliders__control_list li.current {
  background-color: #fff;
}

.vertical__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  height: 100%;
}

.vertical__menu_item {
  width: 100%;
  position: relative;
}

.vertical__menu_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 0;
  height: 26px;
  color: #8b92a0;
}

.vertical__menu_item img {
  height: inherit;
  margin: 0 20px;
}

.vertical__menu_item:hover {
  background-color: #f5f8fe;
}

.vertical__menu_item:hover a {
  color: #567cc7;
}

.vertical__menu_item:hover:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;
  background-color: #567cc7;
  left: 0;
  top: 0;
}

.content {
  width: 100%;
  overflow: auto;
}

.content .sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.content .sound h1 {
  text-transform: uppercase;
}

.content__item {
  line-height: 60px;
  border-bottom: 1px solid #8b92a0;
  padding-left: 20px;
  cursor: pointer;
}

.content__item span {
  display: inline-block;
  width: 30%;
}

.content__item span:first-child {
  width: 40%;
}

.content__item span:first-child::before {
  content: " ";
  display: inline-block;
  background-image: url("/content/img/icon/play.svg");
  width: 16px;
  height: 16px;
}

.photoContent {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 110vw;
}

.photoContent figure {
  width: 30%;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.photoContent figure img {
  width: 100%;
  display: block;
}

body {
  background-color: #000;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  min-height: 8vh;
}

.sliders__control {
  position: absolute;
  width: 30%;
  height: 10%;
  bottom: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  background-color: #fff;
  overflow: auto;
}

.vertical__wrap {
  overflow: auto;
  min-width: 20vw;
  background-color: #fbfbfb;
}

.content {
  color: #000;
  padding: 15px;
  -webkit-box-shadow: 0 -20px 90px -20px rgba(0, 0, 0, 0.2), 0 0 #a2a9b1;
          box-shadow: 0 -20px 90px -20px rgba(0, 0, 0, 0.2), 0 0 #a2a9b1;
}
/*# sourceMappingURL=main.css.map */