// сборщик всех стилей, переменных, типографии, базовые стили элементов
// отдельно все элементы + в элемент собираются другоие элементы
@import 'var/color';

@import 'block/container';
@import 'block/nav';
@import 'block/submenu';
@import 'block/burger';
@import 'block/slider';
@import 'block/sliderControls';

@import 'block/asideMenu';
@import 'block/content';
@import 'block/content/imgSection';
@import 'block/content//lightbox';

body {
    background-color: #000;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: sans-serif;
}
a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

// позиционирование и отступы блоков
.button {
    cursor: pointer;
}
.nav__wrap {
    display: flex;
    align-items: center;
    margin: 0 auto;
    min-height: 8vh;
}
.sliders__control {
    
}
/// temporary style
main {
    display: flex;
    height: 95vh;
    background-color: #fff;
    overflow: auto;

    //box-shadow: 0 -20px 90px -20px rgba(0, 0, 0, .2), 0 0 #a2a9b1;
}
.vertical__wrap {
    overflow: auto;
    min-width: 20vw;
    background-color: #fbfbfb;

}

.content {
    color: #000;
    padding: 15px;
    box-shadow: 0 -20px 90px -20px rgba(0, 0, 0, .2), 0 0 #b08be0;
}