.sound__wrap {
    position: relative;
    margin-bottom: 50px;
}
.sound{
    &__item {
        display: grid;
        grid-template-columns: 25px 25px 1fr 1fr 0.5fr;
        grid-gap: 20px;
        border-top: 1px solid $nav-color;
        font-size: 1em;
        padding: 1.5rem;
        &:hover {
            background-color: $nav-bgcolor-highlight;
        }
        audio {
            outline: none;
            position: absolute;
            display: none;

        }
    }
}
.button-play{
    border: 1px solid red;
    background: url('../../../content/img/icon/play-button.svg') no-repeat center center;
}
.button-like {border: 1px solid red;
    background: url('/content/img/icon/heart.svg') no-repeat center center;
}
.button-play.active {
    background: url('/content/img/icon/stop.png') no-repeat center center;
    background-size: contain;
}
.button-like.active {
   background: url('/content/img/icon/heart.png') no-repeat center center;
   background-size: contain;
}
audio.active {
    display: inline-block;
    border: 1px solid red;
}