.sound{
    &__form {
        display: flex;
        justify-content: space-around;
        height: 50px;
        input, select, label {
            font-size: 14px;
            line-height: 33px;
            position: relative;
            min-width: 100px;
            padding: 5px;
            border: 1px solid $nav-color-hightlight;
            border-radius: 5px;
            outline: none;
            background-color: transparent;
        }
        input:focus, input:hover,
        select:focus, select:hover {
            border: 2px solid $link-hightlight;
        }
        input[type='checkbox']{
            display: none;
        }
        label {
            position: relative;
            display: flex;
            text-align: center;
        }
        input[type='checkbox']:checked ~ label{
           color: #fff;
           background-color: $link-hightlight;
           border: none;
        }
    }
}
