@font-face {
    font-family: 'Lato Bold';
    src: url('/fonts/lato/Lato-Black.ttf') format('ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Lato Reguar';
    src: url('/fonts/lato/Lato-Regular.ttf') format('ttf');
    font-weight: normal;
}