.feedback-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__item {
        color: $main-text-color;
        position: relative;
        border: none;
        border-radius: 15px;
        padding: 5px 0px 5px 30px;
        margin-bottom: 1.3em;
        outline: none;
        background-color: rgba($nav-color-hightlight, $alpha: 0.3);
        width: 300px;
        line-height: 34px;
        &_text {
            color: $main-text-color;
            background-color: transparent;
            border-radius: 0;
            border-bottom: 1px solid $nav-color-hightlight;
            resize: none;
            overflow: hidden;
            line-height: 1em;
        }
        &_submit {
            width: 335px;   
            color: $main-text-color;
        }
    }
    &__item::placeholder {
        color: $main-text-color;
    }
    label {
        position: relative;
    }
    label::before, button::before {
        position: absolute;
        top: 40%;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-left: 5px;
        content: '';
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-size: 20px 20px;
    }
    label[for='name']::before{
        background-image: url('/src/content/img/icon/user.svg');
    }
    label[for='email']::before {
        background-image: url('/src/content/img/icon/envelope.svg');
    }
    label[for='phone']::before {
        background-image: url('/src/content/img/icon/phone.svg');
    }
    label[for='submit']::before {
        background-image: url('/src/content/img/icon/start-up.svg');
    }
}
@media screen and (max-width: 1441px) {

}