.photoContent {
    margin: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: 110vw;
    //overflow: auto;
    figure {
        width: 30%;
       margin: 0;
        display: inline-flex;
        img {
            width: 100%;
            display: block;
        }
    }
}