.sliders__control {
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 30%;
    height: 10%;
    cursor: pointer;
    &_list {
        color: $main-text-color;
        display: flex;
        justify-content: space-around;
        li {
            display: inline-block;
            width: 1em;
            height: 1em;
            transition: all .4s ease-in-out;
            border: 2px solid $main-text-color;
            background-color: transparent;
        }
        li:hover {
            height: 1.1em;
            width: 1.1em;
        }
        li.prev, li.next {
            border: solid $main-text-color;
            border-width: 0 2px 2px 0;
        }
        .prev {
            transform: rotate(135deg);
        }
        .next {
            transform: rotate(-45deg);
        }
        li.current {
            background-color: $main-text-color;
        }
    }
}
@media screen and (max-width: 728px) {
    .sliders__control {
        left: 0;
        width: 100%;
    }
}